
.navbar-nav {
float:right;
margin-right:40px;
}
#gamePanel {
margin-top:100px;
margin-left:10%;

/*margin-top:70px;*/

background:#737373;
}
footer {
margin-top:20px;
}

.row{
	margin-top:700px;
	
}

#Time{position:absolute;top:50px;left:890px;display:none;}